.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  text-align: center;
  margin: auto;
  h2 {
    font-style: italic;
    font-family: "Lobster Two", sans-serif;
    padding-bottom: 20px;
  }
  section {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    article {
      img {
        border-radius: 100%;
        padding-bottom: 30px;
      }
      h3 {
        padding-bottom: 15px;
      }
    }
  }
}
