@use "./variables.scss" as *;

.slider {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    section{
        position: relative;
        display: grid;
        grid-template-columns: auto;
        width: 50%;
        margin: auto;
        span{
            width: $spacing-medium;
            height: $spacing-medium;
            border-radius: 50%;
            background-color: black;
        }
        span::after{
            content: " ";
        }
    }
    div {
        position: absolute;
        top: 40%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        align-items: center;
        h1{
        text-align: center;
        color: white;

        }
    }
}