@use "./variables.scss" as *;

.slider {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    section{
        position: relative;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
        bottom: 200%;
        gap: 1%;
        span{
            width: $spacing-medium;
            height: $spacing-medium;
            border-radius: 50%;
            background-color: white;
        }
        span::after{
            content: " ";
        }
    }
    div {
        position: absolute;
        top: 40%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        align-items: center;
        h1{
        text-align: center;
        color: white;
        }
        .leftArrow {
            transform: rotate(180deg);
        }
        .leftArrow, .rightArrow {
            width: 70%;
            height: 70%;
        }
    }
}