// color
$color-light-grey: rgb(51, 51, 51);
$color-dark-grey: rgb(37, 37, 37);
$color-mail-grey: rgb(96, 118, 132);
$color-tilmeld-grey: rgb(188, 200, 212);
$color-nav-blue: rgb(106, 140, 147);

//spacing (margin/padding)
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
